{% extends 'admin/base.html.twig' %}
{% block nav %}
    {% include 'admin/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'admin/include/sidebar.html.twig' %}
{% endblock %}



{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    {{ include('admin/commentaire/_form.html.twig') }}

    <a href="{{ path('commentaire_index_backend') }}">back to list</a>
{% endblock %}
