<!-- Start Settings -->
{% block body %}
    <div class="clearfix"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../assets/img/banner-10.jpg);">
        <div class="container">
            <h1>Edit</h1>
        </div>
    </section>
    <h3>Edit Profile</h3>
    <div class="edit-pro">

    </div>
    </div>
    </div>
{% endblock %}
<!-- End Settings -->