{% extends 'admin/base.html.twig' %}
{% block nav %}
    {% include 'admin/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'admin/include/sidebar.html.twig' %}
{% endblock %}



{% block title %}New Blog{% endblock %}

{% block body %}
    <h1>Create new Blog</h1>

    {{ include('admin/blog/_form.html.twig') }}

    <a href="{{ path('blog_index_backend') }}">back to list</a>
{% endblock %}
